@import "tailwindcss";

* {
    font-family: "Matter", sans-serif;
}
@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    animation: marquee 12s linear infinite;
}

/* Outline text */
.stroke-text {
    -webkit-text-stroke: 2px #99b81b;
}